################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EESP/.vs/Visual studio projects/v16/.suo
/EESP/.vs
/EESP/PatientsWebProject/.vs/PatientsWebProject/config
/WebApiTutorial/WebApiTutorial/obj
/WebApiTutorial/WebApiTutorial/bin/Debug/netcoreapp3.1
/WebApiTutorial/.vs/WebApiTutorial
/WebApiTutorial
