################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PatientsWebProject/Patients.Shared/bin/Debug/net5.0
